*{  margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    list-style: none;
    font-family: sans-serif;
}

.nav{
    display:inline-flex;
    background-color: darkorange;
    width: 100%;
}
.links{
    display:inline-flex;
    align-items: center;
}
.links p {
    margin: 10%;
    
}
.links p a{
    color: white;
    font-size: large;
}
.logo{
    margin: 1.5%;
}
.about{
    padding: 5%;
    margin: 3%;
    background-color: rgb(201, 199, 199);
    display: inline-flex;
    width: 95%;
}
.study{
    padding: 5%;
    margin: 3%;
    background-color: rgb(201, 199, 199);
    display: inline-flex;
    width: 95%;
}
.profilepic{
    margin: 5%;
    border-radius: 50%;
}
.infotext{
    margin: 5%;
}
.logo h1{
color: white;
}
body{
    width: 100%;
}
.study-boxes{
    display: inline-flex;
}
.skills{
    padding: 5%;
    margin: 3%;
    background-color: rgb(201, 199, 199);
    display: inline-flex;
    width: 95%;
}
#formbox{
    margin: 5%;
    padding: 50px;
    background-color: rgb(201, 199, 199);
   
}
.skilltext{
    width: 40%;
}
.whitetext{
    color: white;
}